.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  max-width: 1050px;
  margin: 0 auto;
  padding: 80px 115px;
  @media screen and (max-width: 1024px) {
    max-width: 690px;
    padding: 40px 72px;
  }
  @media screen and (max-width: 717px) {
    padding: 40px 30px;
  }
  &-disabled {
    @media screen and (max-width: 717px) {
      display: none;
    }
  }
  &-mobile {
    flex-direction: column;
    @media screen and (min-width: 718px) {
      display: none;
    }
  }
  &__left {
    @media screen and (max-width: 717px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .hero__title {
      font-weight: 600;
      font-size: 67px;
      line-height: 110%;
      /* or 74px */
      text-transform: capitalize;

      /* White */

      color: #ffffff;
      @media screen and (max-width: 1024px) {
        font-size: 38px;
        line-height: 120%;
      }
      @media screen and (max-width: 717px) {
        font-size: 56px;
      }
      @media screen and (max-width: 696px) {
        font-size: 48px;
      }
      @media screen and (max-width: 630px) {
        font-size: 38px;
      }
      @media screen and (max-width: 450px) {
        font-size: 28px;
      }
    }
    .hero__subtitle {
      margin-top: 80px;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 160%;
      /* or 35px */

      text-transform: capitalize;

      /* White */

      color: #ffffff;
      @media screen and (max-width: 1024px) {
        margin-top: 20px;
      }
      @media screen and (max-width: 717px) {
        font-size: 26px;
      }
      @media screen and (max-width: 630px) {
        font-size: 18px;
      }
      @media screen and (max-width: 450px) {
        font-size: 16px;
      }
    }
  }
  .hero__btn {
    transition: transform 0.1s linear;
    &:hover {
      transform: scale(1.1);
    }
    cursor: pointer;
    display: flex;

    margin-top: 30px;
    padding: 19px 50px;
    border: none;
    background: linear-gradient(
      128.15deg,
      #c7f000 121.18%,
      #a259ff 136.56%,
      #377df7 136.56%
    );
    border-radius: 20px;

    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    text-align: center;

    color: #3b3b3b;
    &::before {
      content: url(../../../public/images/Rocket.svg);
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 12px;
    }
    @media screen and (max-width: 1024px) {
      margin-top: 20px;
    }
    @media screen and (max-width: 717px) {
      margin-top: 10px;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
  &__right {
    width: 510px;
    height: 510px;
    @media screen and (max-width: 1024px) {
      width: 330px;
      height: 330px;
    }
    @media screen and (max-width: 717px) {
      width: 430px;
      height: 430px;
    }
    @media screen and (max-width: 450px) {
      width: 315px;
      height: 315px;
    }
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}
