.card {
  box-sizing: border-box;
  padding: 10px 40px 30px;
  max-width: 330px;
  max-height: 439px;
  background: #3b3b3b;
  border-radius: 20px;
  @media screen and (max-width: 1024px) {
    max-width: 210px;
    max-height: 320px;
    padding: 10px 25px 30px;
  }
  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: initial;
    max-height: initial;
    padding: 20px;
  }
  &__img {
    max-width: 250px;
    max-height: 250px;
    @media screen and (max-width: 1024px) {
      max-width: 160px;
      max-height: 160px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title {
    margin-top: 20px;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    /* identical to box height, or 31px */

    text-align: center;
    text-transform: capitalize;

    color: #ffffff;
    @media screen and (max-width: 1024px) {
      font-size: 16px;
    }
    @media screen and (max-width: 768px) {
      margin-top: 0;
    }
  }
  &__text {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    text-align: center;

    /* White */

    color: #ffffff;
    @media screen and (max-width: 1024px) {
      font-size: 12px;
    }
  }
}
