.card {
  box-sizing: border-box;
  padding: 10px 40px 30px;
  max-width: 330px;
  max-height: 439px;
  background: #3b3b3b;
  border-radius: 20px;
  &__title {
    margin-top: 20px;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    /* identical to box height, or 31px */

    text-align: center;
    text-transform: capitalize;

    color: #ffffff;
  }
  &__text {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    text-align: center;

    /* White */

    color: #ffffff;
  }
}
