.container {
  position: relative;
}
.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.creators__btn {
  background-color: #2b2b2b;
  bottom: 140px;
  right: 115px;

  cursor: pointer;
  display: flex;

  padding: 19px 50px;

  border: 2px solid #c7f000;
  border-radius: 20px;

  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  text-align: center;

  color: #c7f000;
  &::before {
    content: url(../../../public/images/RocketGreen.svg);
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }
}
