.head__container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;

  width: 300px;
  height: 60px;

  border: 1px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  .head__link {
    cursor: pointer;
    padding: 19px 30px 19px 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    text-align: center;

    color: #ffffff;
  }
  .head__account {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 19px 30px;

    background: #e98c00;
    border-radius: 20px;
    &__text {
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      /* or 22px */

      text-align: center;

      color: #3b3b3b;
    }
  }
}
